* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.img_show {
  width: 350px;
  height: 200px;
}

.clickable-row {
  cursor: pointer;
}

.id-card {
	border: black solid 1px;
  width:258px;
  height:163px;
  object-fit: cover; 
}

input[type='file'] {
  display: none;
}