* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.img_show {
  width: 350px;
  height: 200px;
}

.clickable-row {
  cursor: pointer;
}

.id-card {
  width:100%;
  height:150px;
  object-fit: cover; 
}
